@import url(font.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li,
ul {
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  position: relative;
  background: #040d1f;
  scroll-behavior: smooth;
}

#header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: -90px;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__row {
  background: -webkit-gradient(linear, left top, right top, from(#3800af), color-stop(97.52%, #bf7204), color-stop(100%, #c27500), to(#c27500));
  background: linear-gradient(90deg, #3800af 0%, #bf7204 97.52%, #c27500 100%, #c27500 100%);
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__row img {
  max-width: 50px;
  width: 100%;
}
.header__row span {
  color: #fff;
  font-family: "Comfortaa-Regular";
  font-size: 16px;
}

.header__nav {
  background: rgba(1, 3, 5, 0.945);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  padding: 25px 0;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.header__menu .header__links {
  color: #fff;
  text-align: right;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 5px 6px;
}
.header__menu .header__links::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #ed8e00;
  left: 0;
  bottom: -20px;
  pointer-events: none;
  opacity: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  scale: 0 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.header__menu .header__links:hover::after {
  opacity: 1;
  scale: 1 1;
}

.carousel__img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.kong__carousel {
  max-height: 100vh;
  margin-bottom: 150px;
}
.kong__carousel .carous__title {
  color: #fff;
  font-family: "Montserrat-Bold";
  font-size: 64px;
}
.kong__carousel .carous__desc {
  color: #c8c8c8;
  text-align: justify;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 24px;
  /* 150% */
}

.download__btn {
  border: none;
  background: #040d1f;
  color: #fff;
  padding: 13px 15px;
  border-radius: 4px;
  text-align: justify;
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 12px;
  /* 75% */
}

.watch__btn {
  border: none;
  background: #f18128;
  color: #fff;
  padding: 13px 15px;
  border-radius: 4px;
  text-align: justify;
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 12px;
}

.section__title {
  margin-bottom: 100px;
  color: orange;
  font-family: "Comfortaa-Regular";
  font-size: 36px;
}

.films {
  margin-bottom: 150px;
}

.carousel-item {
  text-align: center;
}
.carousel-item .slider__mini-img {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  padding-top: 15px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 15px;
}
.carousel-item .slider__mini-img:hover {
  scale: 1.1 1.1;
  cursor: pointer;
}

.carousel-control-prev {
  width: 10%;
  border: none;
  border-top: 1px solid #ed8e00;
  border-left: 1px solid #ed8e00;
  border-bottom: 1px solid #ed8e00;
}

.carousel-control-next {
  width: 10%;
  border: none;
  border-top: 1px solid #ed8e00;
  border-right: 1px solid #ed8e00;
  border-bottom: 1px solid #ed8e00;
}

.black__widow {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#def7ff), color-stop(45.64%, #f4fcff), color-stop(100.72%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #def7ff 0%, #f4fcff 45.64%, rgba(255, 255, 255, 0) 100.72%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}
.black__widow .widow__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.black__widow video {
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 100vh;
  z-index: -999;
}
.black__widow .watch__btn {
  border: none;
  background: #f18128;
  color: #000;
  padding: 13px 15px;
  border-radius: 4px;
  text-align: justify;
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 12px;
}

.collec__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 150px;
}

.collec__card {
  width: 350px;
  border-radius: 6px;
  height: 193.37px;
  position: relative;
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(49, 114, 9, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
  -webkit-transition: 3s all ease-in-out;
  transition: 3s all ease-in-out;
  overflow: hidden;
}
.collec__card-left {
  position: absolute;
  left: 10px;
  top: 5px;
  pointer-events: none;
}
.collec__card-right {
  position: absolute;
  right: 10px;
  top: 5px;
  pointer-events: none;
}
.collec__card-bg {
  background: url(../img/collection_1.png) center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.collec__card-title {
  color: #fff;
  font-family: "Roboto-Medium";
  font-size: 20px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.collec__card:hover .collec__card-inner img {
  translate: 0% 100%;
  scale: 1.5;
  -webkit-animation: flip forwards 450ms ease-in-out;
          animation: flip forwards 450ms ease-in-out;
  -webkit-perspective: 100px;
          perspective: 100px;
}

@-webkit-keyframes flip {
  100% {
    -webkit-transform: rotateX(180deg) translateX(10%);
            transform: rotateX(180deg) translateX(10%);
  }
}

@keyframes flip {
  100% {
    -webkit-transform: rotateX(180deg) translateX(10%);
            transform: rotateX(180deg) translateX(10%);
  }
}
.collec__card:hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(255, 171, 15, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(255, 171, 15, 0.56) 100%);
}

.collec__card:hover h5 {
  translate: 0% 500%;
  scale: 1.9;
}

.collec__card-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.collec__card-inner img {
  max-width: 40.608px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 14px;
  -webkit-transition: 400ms all ease-in-out;
  transition: 400ms all ease-in-out;
}

.collec__card-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.collec__card:nth-of-type(2) {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(49, 114, 9, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
  border-radius: 6px;
}
.collec__card:nth-of-type(2) h5 {
  letter-spacing: -1px;
}
.collec__card:nth-of-type(2) .collec__card-bg {
  background: url(../img/collection_2.png) center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.collec__card:nth-of-type(2):hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(255, 171, 15, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(255, 171, 15, 0.56) 100%);
}

.collec__card:nth-of-type(3) {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(49, 114, 9, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
  border-radius: 6px;
}
.collec__card:nth-of-type(3) .collec__card-bg {
  background: url(../img/collection_3.png) center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.collec__card:nth-of-type(3):hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(255, 171, 15, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(255, 171, 15, 0.56) 100%);
}

.collec__card:nth-of-type(4) {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(9, 114, 82, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(9, 114, 82, 0.56) 100%);
  border-radius: 6px;
}
.collec__card:nth-of-type(4) .collec__card-bg {
  background: url(../img/collection_4.webp) center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.collec__card:nth-of-type(4):hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(15, 255, 135, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(15, 255, 135, 0.56) 100%);
}

.collec__card:nth-of-type(5) {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(9, 114, 82, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(9, 114, 82, 0.56) 100%);
  border-radius: 6px;
}
.collec__card:nth-of-type(5) .collec__card-bg {
  background: url(../img/collection_5.jpg) center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.collec__card:nth-of-type(5):hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(15, 255, 135, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(15, 255, 135, 0.56) 100%);
}

.collec__card:nth-of-type(6) {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(9, 114, 82, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(9, 114, 82, 0.56) 100%);
  border-radius: 6px;
}
.collec__card:nth-of-type(6) .collec__card-bg {
  background: url(../img/collection_6.webp) center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.collec__card:nth-of-type(6):hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(15, 255, 135, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(15, 255, 135, 0.56) 100%);
}

.collec__card:nth-of-type(7) {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(9, 114, 82, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(9, 114, 82, 0.56) 100%);
  border-radius: 6px;
}
.collec__card:nth-of-type(7) .collec__card-bg {
  background: url(../img/collection_7.webp) center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.collec__card:nth-of-type(7):hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(21, 180, 253, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(21, 180, 253, 0.56) 100%);
}

.collec__card:nth-of-type(8) {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(9, 114, 82, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(9, 114, 82, 0.56) 100%);
  border-radius: 6px;
}
.collec__card:nth-of-type(8) .collec__card-bg {
  background: url(../img/collection_8.jpg) center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.collec__card:nth-of-type(8):hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(21, 180, 253, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(21, 180, 253, 0.56) 100%);
}

.collec__card:nth-of-type(9) {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(9, 114, 82, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(9, 114, 82, 0.56) 100%);
  border-radius: 6px;
}
.collec__card:nth-of-type(9) .collec__card-bg {
  background: url(../img/collection_9.webp) center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.collec__card:nth-of-type(9):hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(7, 15, 25, 0.56)), to(rgba(21, 180, 253, 0.56)));
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(21, 180, 253, 0.56) 100%);
}

.series {
  margin-bottom: 150px;
}

.series__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 193px 193px;
  gap: 20px;
}
.series__grid .series__item:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}

.series__top {
  position: relative;
  max-width: 1113px;
  background: linear-gradient(96deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
  overflow: hidden;
  padding: 96px 22px 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  gap: 30px;
  margin-bottom: 30px;
}
.series__top-title {
  color: #fff;
  font-family: "Comfortaa-Bold";
  font-size: 40px;
}
.series__top-desc {
  color: #fff;
  text-align: center;
  font-family: "Comfortaa-Regular";
  font-size: 16px;
  line-height: 24px;
}
.series__top-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.series__item {
  position: relative;
  border-radius: 6px;
  background: linear-gradient(96deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.series__item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.series__item-title {
  color: #fff;
  font-family: "Comfortaa-Bold";
  font-size: 24px;
  font-weight: 700;
}

.footer__content {
  width: 100%;
  min-height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(#ff8c30), to(#9f4700));
  background: linear-gradient(90deg, #ff8c30 0%, #9f4700 100%);
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__content-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__content-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */